@model BookstoreManagement.Models.Book

<h2>Book Details</h2>

<div>
    <h4>Title: @Model.Title</h4>
    <p>Author: @Model.Author</p>
    <p>Price: @Model.Price</p>
    <p>Genre: @Model.Genre</p>
</div>

<a asp-action="Index">Back to List</a>
