body {
    background-image: url('C:\Users\Student\source\repos\BookstoreManagement\wwwroot\css\Library.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
    display: block;
    background-color: antiquewhite;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: darkcyan;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    button:hover {
        background-color: crimson;
    }

.text-danger {
    color: red;
    font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
